.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #fff;
}

.header::after {
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: -5px;
    left: 0;
    display: block;
    width: 100%;
    height: 5px;
    background: url('../../assets/images/header/Vector 3.svg') repeat-x;
    content: '';
}

.block {
    display: flex;
    max-width: 1390px;
    justify-content: space-between;
    padding: 15px 48px 15px 37px;
    margin: 0 auto;
}

.logoBlock {
    display: flex;
    align-items: center;
}

@media (min-width: 546px) {
    .logoBlock {
        width: 278px;
    }
}

.logo {
    width: 61px;
    margin-right: 16px;
}

.title {
    color: #fff;
    font-family: IBMPlexSans-Regular, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 14px;
}

@media (max-width: 590px) {
    .title {
        display: none;
    }
}

.menu {
    position: relative;
    color: var(--color--green);
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
}

@media (min-width: 1024px) {
    .menu {
        display: flex;
        width: 391px;
        align-items: center;
        justify-content: space-between;
        margin-left: 20px;
    }
}

@media (max-width: 1023px) {
    .menu {
        position: fixed;
        z-index: 1;
        top: 60px;
        bottom: 0;
        left: 0;
        width: 320px;
        padding-top: 20px;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(var(--rgb--green-light), 0.1);
        transform: translateX(-100%);
        transition: all 0.3s linear;
    }
}

.menuOpen {
    transform: translateX(0);
}

@media (min-width: 1024px) {
    .menuPoint {
        position: absolute;
        top: 3px;
    }

    .menuPoint:nth-child(2) {
        left: 84px;
    }

    .menuPoint:nth-child(3) {
        left: 206px;
    }

    .menuPoint:nth-child(4) {
        left: 291px;
    }
}

@media (max-width: 1023px) {
    .menuPoint:not(:last-child) {
        border-bottom: 1px solid rgba(var(--rgb--green-light), 0.3);
    }
}

.menuPointLink {
    transition: all 0.3s linear;
}

@media (min-width: 1024px) {
    .menuPointLink:hover {
        font-family: TTFirsNeue-Bold, sans-serif;
    }
}

@media (max-width: 1023px) {
    .menuPointLink {
        display: block;
        padding: 10px 15px;
    }

    .menuPointLink:hover {
        background-color: rgba(var(--rgb--green-light), 0.3);
    }
}

.actions {
    display: flex;
    width: 239px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.actionsFavorites {
    position: relative;
    width: 30px;
    height: 30px;
    margin-right: 8px;
    background-color: rgb(var(--rgb--green-light), 0.3);
    background-image: url('../../assets/images/header/actions/Star 1.svg');
    background-position: 7px 7px;
    background-repeat: no-repeat;
    border-radius: 20px;
    transition: all 0.3s linear;
}

.actionsFavorites:hover {
    background-color: rgb(var(--rgb--green-light), 0.5);
}

.actionsFavoritesCounter {
    position: absolute;
    top: -6px;
    right: -3px;
    display: block;
    width: 16px;
    height: 16px;
    background: #f15b5b;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #fff;
    font-family: IBMPlexSans-Bold, sans-serif;
    font-size: 9px;
    line-height: 16px;
    text-align: center;
}

.actionsAdd {
    width: 104px;
    height: 30px;
    margin-right: 8px;
    background-color: rgb(var(--rgb--green-light), 0.3);
    background-image: url('../../assets/images/header/actions/Cross.svg');
    background-position: 10px center;
    background-repeat: no-repeat;
    border-radius: 20px;
    color: var(--color--green);
    font-family: IBMPlexSans-Regular, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    text-indent: 14px;
    transition: all 0.3s linear;
}

.actionsAdd:hover {
    background-color: rgb(var(--rgb--green-light), 0.5);
}

.actionsAuth {
    display: flex;
    width: 81px;
    height: 30px;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(var(--rgb--green-light), 0.3);
    background-image: url('../../assets/images/header/actions/EnterIcon.svg');
    background-position: 9px center;
    background-repeat: no-repeat;
    border-radius: 20px;
    color: var(--color--green);
    font-family: IBMPlexSans-Regular, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    text-indent: 14px;
    transition: all 0.3s linear;
}

.actionsAuth:hover {
    background-color: rgb(var(--rgb--green-light), 0.5);
}

.actionsProfile {
    display: none;
    overflow: hidden;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: all 0.3s linear;
}

.loginIn {
    display: none;
}

.loggedIn {
    display: block;
}

.btnMenu {
    display: block;
    margin-right: 15px;
    outline: 0;
    border: 0;
    background: none;
}

@media (min-width: 1024px) {
    .btnMenu {
        display: none;
    }
}

.btnMenu.active span:nth-of-type(1) {
    transform: rotate(45deg) translate(8px, 2px);
    width: 20px;
}

.btnMenu.active span:nth-of-type(2) {
    opacity: 0;
    pointer-events: none;
}

.btnMenu.active span:nth-of-type(3) {
    transform: rotate(-45deg) translate(6px, -1px);
    width: 20px;
}

.btnMenu span {
    display: block;
    width: 25px;
    height: 3px;
    margin-bottom: 3px;
    background-color: rgb(var(--rgb--green-light), 0.3);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.btnMenu:hover span {
    background-color: rgb(var(--rgb--green-light), 0.7);
}

.btnMenu:hover span:nth-of-type(1) {
    width: 15px;
}

.btnMenu:hover span:nth-of-type(3) {
    width: 15px;
}